.form-title {
  text-align: center;
  margin-bottom: 1.5rem;
  text-transform: capitalize;
  font-weight: normal;
  color: white;
  font-size: 2.5rem;
}

.form-control {
  display: flex;
  gap: 0.5rem;
}

.form-input {
  flex: 1;
  padding: 0.5rem;
  font-family: "Poppins", sans-serif;
  border-radius: 15px;
  border: none;
}

.form-button {
  padding: 0.5rem 1.5rem;
  background: rgb(0, 0, 0);
  color: white;
  border: 1px solid rgb(178, 178, 178);
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.1s ease;
}

.form-button:hover {
  background: rgb(70, 70, 70);
}

@media (max-width: 500px) {
  .form-control {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }

  .form-input {
    width: 100%;
  }

  .btn {
    width: 100%;
  }
}
