*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: url(../images/background_4.jpg);
  background-position: fixed;
  background-size: cover;
  background-repeat: repeat;
}
.section-center {
  margin: 0 auto;
  background-color: rgb(255, 255, 255, 0.2);
  border-radius: 30px;
  margin-top: 10rem;
  margin-bottom: 8rem;
  padding: 2rem;
  border: 3px solid rgba(123, 123, 123, 0.4);
  max-width: 30rem;
  box-shadow: 2px 7px 8px 3px rgb(50, 143, 159);
}

@media screen and (max-width: 500px) {
  .section-center {
    padding: 1.2rem;
    width: 90%;
  }
}
/*for desktop only*/
@media (hover: hover) {
  .section-center:hover {
    box-shadow: 2px 7px 8px 3px rgb(74, 209, 233);
  }
}
