.items {
  margin-top: 1.5rem;
  display: grid;
  row-gap: 0.7rem;
}

.items.has-items {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 12px;
  padding: 10px 20px;
}
