.single_item {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  column-gap: 1rem;
  align-items: center;
  color: rgb(222, 220, 220);
}

.single_item p {
  text-transform: capitalize;
}

.single_item input[type="checkbox"] {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
}

.single_item .btn {
  cursor: pointer;
  color: #fff;
  background: #000000;
  border: transparent;
  border-radius: 0.5rem;
  padding: 0.35rem 0.75rem;
  font-size: 1rem;
}

.single_item .btn:hover {
  background: #a0a0a073;
}

.single_item .remove-btn {
  background: #000000;
}

.single_item .remove-btn:hover {
  background: #b00e0e;
}
